@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

#app {
  font-family: "Poppins", sans-serif;
}
h1 {
  color: green;
  font-size: 2rem;
}
::-webkit-scrollbar {
  width: 50px;
}
.nav {
  display: flex;
  height: max-content;
  overflow: auto;
  background-color: darkslategrey;
  list-style-type: none;
  align-items: center;
  padding: 1vh 1vw;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.tablet {
  height: 5vh;
  width: min-content;
  height: min-content;
  padding: 0 2vw;
  font-size: 3vh;
  margin-left: 3vw;
}
.tablet input {
  border: none;
}
.tablet a {
  text-decoration: none;
  color: white;
}
.home {
  border: 1px solid red;
  border-radius: 2vh;
}
.about {
  border: 1px solid green;
  border-radius: 2vh;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 10px;
  border-radius: 5px;
  
  input{
    border-radius: 5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn-small {
  padding: 10px;
  background-color: cornflowerblue;
  width: max-content;
  border: none;
  border-radius: 5px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form input {
  width: 80%;
}
.list-table {
  height: 80vh;
  width: 60vw;
  overflow: auto;
  
  .selectedRow:hover {
    background-color:darkgoldenrod;
    cursor: pointer;
  }
}
.list-table td {
  padding-left: 1vw;
}
.list-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  margin: 1vh;
  padding: 1vh 2vw;
}
.form-control input[type="radio"] {
  width: max-content;
  margin-right: 0px;
  margin-left: 20px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
.scrollable {
  overflow: scroll;
}
.right-panel {
  grid-column: 2 / 4;
  padding: 0 2vw;
  background-color: khaki;
  overflow: auto;
  border-radius: 10px;
}
.left-panel {
  grid-column: 1 / 2;
  padding:5vh 2vw;
  background-color: darkseagreen;
  overflow: auto;
  border-radius: 10px;
}

.prompt {
  z-index: 1;
  height: 100px;
  width: 100px;
  background-color: violet;
  transform: translate(-50% -50%);
}
.sub-menu-1 {
  display: none;
}
.nav li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgb(0, 0, 0);
  margin-top: 1px;
}
.sub-menu-1 li {
  margin: 15 5;
}
.button-block{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding :10px;
}
.btn-add{
  background-color: aquamarine;
  grid-column: 1 / 2;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
}
.btn-update{
  background-color:burlywood;
  grid-column: 2 / 3;
  border: none;
  border-radius: 5px;
}
.btn-clear{
  background-color: cadetblue;
  grid-column: 3/4;
  border: none;
  border-radius: 5px;
}
.btn-delete{
  background-color:indianred;
  grid-column: 4/5;
  border: none;
  border-radius: 5px;
}
.msgBox {
  position: absolute;
  top:40%;
  left:40%;
  height:50px;
  width: max-content;
  background-color:lightgray;
  color:lightcoral;
  border-radius:10px;
  padding:10px;
}


