@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

#app {
  font-family: "Poppins", sans-serif;
}
h1 {
  color: green;
  font-size: 2rem;
}
.nav {
  display: flex;
  border: 1px solid blue;
  list-style-type: none;
  border-radius: 2vh;
}
.tablet {
  height: 5vh;
  width: min-content;
  height: min-content;
  background-color: aquamarine;
  border-radius: 500px;
  padding: 0 2vw;
  font-size: 3vh;
  margin-left: 3vw;
}
.tablet a {
  text-decoration: none;
}
.home {
  border: 1px solid red;
  border-radius: 2vh;
}
.about {
  border: 1px solid green;
  border-radius: 2vh;
}
.container {
  display: flex;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  height: 80vh;
  width: 30vw;
  margin-bottom: 40px;
}
.list-table {
  height: 80vh;
  width: 60vw;
  overflow: auto;
}
.list-table td {
  padding-left: 1vw;
}
.list-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  margin: 1vh;
  padding: 1vh 2vw;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
.scrollable {
  overflow: scroll;
}
.right-panel {
  padding: 0 2vw;
}
